# Repository
/.github @lleyton 
/.devcontainer @lleyton 
/.gitignore @windowsboy111 
/CODE_OF_CONDUCT.md @lleyton 
/CONTRIBUTING.md @lleyton 
/LICENSE @lleyton 
/README.md @windowsboy111 
/SECURITY.md @lleyton 
/anda.hcl @lleyton 
/comps.xml @lleyton 

# Package maintainers
/anda/lib/libbismuth @lainsce
/anda/lib/libhelium @lainsce
/anda/others/tau-helium @lainsce
/anda/others/tau-hydrogen @lainsce

/anda/tools/melody @lleyton
/anda/go/curlie @lleyton

/anda/games/prismlauncher @getchoo
/anda/games/prismlauncher-nightly @getchoo
/anda/games/prismlauncher-qt5-nightly @getchoo
/anda/games/prismlauncher-qt5 @getchoo

/anda/srpm-macros @korewaChino
/anda/rust/starship @korewaChino
/anda/rust/zellij @korewaChino
/anda/audio/distrho @korewaChino

/anda/desktop/compiz9 @cat-master21
/anda/lib/glewmx @cat-master21
/anda/lib/libindicator @cat-master21
/anda/lib/libunity @cat-master21
/anda/lib/libunity-misc-devel @cat-master21
/anda/themes/unity-asset-pool @cat-master21
/anda/apps/vala-panel @cat-master21
