[Desktop Entry]
Name=Copr GUI
Comment=GUI for managing COPR instances
Exec=copr-gui
Icon=copr
Terminal=false
Type=Application
Categories=Development;System;
