[Unit]
Description=Forward com.system76.Scheduler session DBus messages to the system bus
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
ExecStart=/usr/libexec/system76-scheduler-dbus-proxy.sh

[Install]
WantedBy=default.target
