[Desktop Entry]
Name=Ensu
Comment=Ensu Desktop App
Exec=ensu
Icon=io.ente.ensu
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
