[Desktop Entry]
Version=1.0
Name=WiFiman
GenericName=Network Scanner
GenericName[de]=Netzwerk-Scanner
GenericName[es]=Escáner de red
GenericName[fr]=Analyseur réseau
GenericName[it]=Scanner di rete
GenericName[ja]=ネットワークスキャナー
GenericName[pt_BR]=Scanner de rede
GenericName[ru]=Сканер сети
GenericName[zh_CN]=网络扫描器
Comment=Analyze Wi-Fi networks and connect to UniFi Teleport VPN
Comment[de]=WLAN-Netzwerke analysieren und mit UniFi Teleport-VPN verbinden
Comment[es]=Analiza redes Wi-Fi y conéctate a la VPN Teleport de UniFi
Comment[fr]=Analysez les réseaux Wi-Fi et connectez-vous au VPN Teleport d'UniFi
Comment[it]=Analizza le reti Wi-Fi e connettiti alla VPN Teleport di UniFi
Comment[ja]=Wi-Fi ネットワークを分析し、UniFi Teleport VPN に接続
Comment[pt_BR]=Analise redes Wi-Fi e conecte-se à VPN Teleport da UniFi
Comment[ru]=Анализируйте сети Wi-Fi и подключайтесь к Teleport VPN UniFi
Comment[zh_CN]=分析 Wi-Fi 网络并连接到 UniFi Teleport VPN
Exec=wifiman-desktop
Terminal=false
Icon=wifiman-desktop
Type=Application
Categories=Network;
MimeType=x-scheme-handler/wifiman-desktop-dl;
Keywords=Wi-Fi;WiFi;Network;UniFi;Ubiquiti;Teleport;VPN;Scanner;
