[Desktop Entry]
Name=Signal
Exec=signal-desktop --use-tray-icon %U
Terminal=false
Type=Application
Icon=signal
StartupWMClass=Signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;
