<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
 <policyconfig>

  <action id="org.raspberrypi.raindrop.configure-display">
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <description>GTK screen configuration tool for labwc and openbox environments.</description>
    <message>Authentication is required to configure the system's display settings.</message>
    <icon_name>computer</icon_name>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/raindrop</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
