# for each folder in anda/
# generate a new workflow for each folder in anda/
name: Automatically build packages
on:
  push:
    paths:
      - anda/**
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  manifest:
    runs-on: ubuntu-latest

    outputs:
      build_matrix: ${{ steps.generate_build_matrix.outputs.build_matrix }}
    container:
      image: ghcr.io/terrapkg/builder:main
      options: --cap-add=SYS_ADMIN --privileged
    steps:
      - name: Set workspace as safe
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate build matrix
        id: generate_build_matrix
        run: |
          anda ci >> $GITHUB_OUTPUT
  build:
    needs: manifest
    strategy:
      matrix:
        pkg: ${{ fromJson(needs.manifest.outputs.build_matrix) }}
        version: ["37"]
      fail-fast: false
    runs-on: ${{ matrix.pkg.arch == 'aarch64' && 'ARM64' || 'ubuntu-latest' }}
    container:
      image: ghcr.io/terrapkg/builder:main
      options: --cap-add=SYS_ADMIN --privileged
    steps:
      - uses: terrapkg/anda-build@main
        with:
          name: "${{ matrix.pkg.pkg }}"
          mockConfig: anda-${{ matrix.version }}-${{ matrix.pkg.arch }}
          extraArgs: -D "sccache_bucket ${{secrets.SCCACHE_BUCKET}}" -D "sccache_endpoint ${{secrets.SCCACHE_ENDPOINT}}" -D "sccache_secret ${{secrets.SCCACHE_SECRET}}" -D "sccache_accesskey ${{secrets.SCCACHE_ACCESSKEY}}"
          andaRepo: https://github.com/terrapkg/subatomic-repos/raw/main/terra${{ matrix.version }}.repo

      - name: Generating artifact name
        id: art
        run: |
          NAME=${{ matrix.pkg.pkg }}-${{ matrix.pkg.arch }}-${{ matrix.version }}
          x=${NAME//\//@}
          echo "name=$x" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.art.outputs.name }}
          path: anda-build/rpm/rpms/*

      - name: Upload packages to subatomic
        if: github.event_name != 'pull_request'
        run: |
          subatomic-cli upload --prune \
            --server https://subatomic.fyralabs.com \
            --token ${{ secrets.SUBATOMIC_TOKEN }} \
            terra${{ matrix.version }} anda-build/rpm/rpms/*

      - name: Notify Madoguchi
        if: always()
        run: |
          if ${{ success() }}; then
            dirs=${{ matrix.pkg.pkg }}
            dirs=${dirs/\/pkg/}
            for f in anda-build/rpm/rpms/*; do
              name=$(lesspipe.sh $f | grep -E "Name\s*: " | sed "s@Name\s*: @@")
              verl=$(echo ${f/${name}-/} | sed -E 's@\.fc${{ matrix.version }}.+@@')
              curl -h "Authorization: Bearer " https://madoguchi.fyralabs.com/ci/terra${{ matrix.version }}/add/builds/$name\?verl\=$verl\&arch\=${{ matrix.pkg.arch }}\&dirs\=$dirs\&id\=${{ github.run_id }} &
            done
          else
            for f in anda-build/rpm/rpms/*; do
              name=$(lesspipe.sh $f | grep -E "Name\s*: " | sed "s@Name\s*: @@")
              verl=$(echo ${f/${name}-/} | sed -E 's@\.fc${{ matrix.version }}.+@@')
              curl -h "Authorization: Bearer " https://madoguchi.fyralabs.com/ci/terra${{ matrix.version }}/add/builds/$name\?verl\=$verl\&arch\=${{ matrix.pkg.arch }}\&id\=${{ github.run_id }} &
            done
          fi
          wait
